h1{
    color:rgb(155, 30, 92);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    display: flex;
    justify-content: center;
}
    span{
        color: rgb(210, 30, 129);

        font-family:Arial, Helvetica, sans-serif;
    }
    label{
        color:tomato;
        font-size:20px ;
    }
    body{
        background-color: wheat;
    }
    
    input{
       font-size:25px ;
        
    }
    select{
        font-size:20px;
        width: 300px;
        height: 45px;
    }
    p{
        display: flex;
        justify-content: center;
    }
    